/*
Joel Mardock
9-25-2022
Module 8.2 Assignment: bioSite: Development and GitHub Pages Deployment
*/


html{
    background-color: #DBDBDB;
}

h1{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 55px;
}

#navbar
{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    word-spacing: 40px;   
}
#navbar a
{
    color: #6C759E;
    text-decoration: none;
    
    
}
#navbar a:hover
{
    font-weight: 700;
    text-decoration: underline;
    
}



#indexImage1
{
    float:left;
    padding-left: 10%; 
}

#indexImage1 img
{
    border-style:solid;
    border-color: #697EDB;
    border-radius: 10px;
    border-width: 10px;
    width: 200px;
    height: 200px;
}

#indexImage2
{
    float:right;
    padding-right: 10%;
    padding-top: 20%;
   
}
#indexImage2 img
{
    border-style:solid;
    border-radius: 10px;
    border-width: 10px;
    border-color: #A88418;
    width: 200px;
    height: 200px;
}

#indexImage3
{
    float:left;
    padding-top: 10%;
    padding-left: 10%;
  
}
#indexImage3 img
{
    border-style:solid;
    border-radius: 10px;
    border-width: 10px;
    border-color: #A88418;
    width: 200px;
    height: 200px; 
}



.landing-text1
{
    font-family: 'Roboto', sans-serif;
    float: left;
    vertical-align: middle;
}
.landing-text2
{   
    font-family: 'Roboto', sans-serif;
    float: right;
}
#about-image1
{
    border-style:solid;
    border-color: #697EDB;
    border-radius: 10px;
    border-width: 10px;
    width: 150px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.about-text1, .hobbies-text1
{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
figure{
    font-family: 'Roboto', sans-serif;
    text-align: center; 
    font-weight: 700;
}
#hobbies-img1
{
    border-style:solid;
    border-color: #A88418;
    border-radius: 10px;
    border-width: 10px;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


footer
{
    background-color:#000000;
    font-weight: 400;
    font-style: italic;
    padding-right: 10px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0;
    
}
footer p
{
    color: white;
    font-weight: 400;
    float: left;
    padding: 1px;
    font-style: italic;
}


#hobbyImage1
{
    border-style:solid;
    border-color: #A88418;
    border-radius: 10px;
    border-width: 10px;
    width: 200px;
    height: 200px;


}

#hobbyImageLeft
{
 
    float: left;
    margin-left: 20%;


}
#hobbyImageLeft img
{
    border-style:solid;
    border-color: #697EDB;
    border-radius: 10px;
    border-width: 10px;
    width: 200px;
    height: 200px;
}
#hobbyImageRight
{

    float: right;
    margin-right: 20%;



}

#hobbyImageRight img
{
    border-style:solid;
    border-color: #697EDB;
    border-radius: 10px;
    border-width: 10px;
    width: 200px;
    height: 200px;

   
}