/*
Joel Mardock
9-18-2022
Module 7.3 Assignment: bioSite: Development
*/


html{
    background-color: #DBDBDB;
}

h1{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

#navbar
{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    word-spacing: 40px;   
}
#navbar a
{
    color: #6C759E;
    text-decoration: none;
    
    
}
#navbar a:hover
{
    font-weight: 700;
    text-decoration: underline;
    
}

#image1, #image3
{
    float:left;
    margin-left: 10%;
    border-style:solid;
    border-color: #697EDB;
    border-radius: 10px;
    border-width: 10px;
    width: 200px;
    height: 200px;
}
#image2
{
    float:right;
    margin-left: 60%;
    border-style:solid;
    border-radius: 10px;
    border-width: 10px;
    border-color: #A88418;
    width: 200px;
    height: 200px;
}
.landing-text1
{
    font-family: 'Roboto', sans-serif;
    float: left;
    vertical-align: middle;
}
.landing-text2
{   
    font-family: 'Roboto', sans-serif;
    float: right;
}
#about-image1
{
    border-style:solid;
    border-color: #697EDB;
    border-radius: 10px;
    border-width: 10px;
    width: 150px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.about-text1, .hobbies-text1
{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
figure{
    font-family: 'Roboto', sans-serif;
    text-align: center; 
    font-weight: 700;
}
#hobbies-img1
{
    border-style:solid;
    border-color: #A88418;
    border-radius: 10px;
    border-width: 10px;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}



#image-gallery
{
    margin-top: 10%;
    display: grid;  
    grid-template-columns: auto auto auto;

}


#grid-item1
{


    border-style:solid;
    border-color: #697EDB;
    border-radius: 10px;
    border-width: 10px;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
 
 
}
#grid-item2
{


    border-style:solid;
    border-color: #697EDB;
    border-radius: 10px;
    border-width: 10px;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
 
 
}